*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-dark: #000;
    --primary-light: white;
    --primary-accent: hsl(224, 87%, 69%);
    --primary-purple: rgb(205, 154, 253);

    --text-light: rgb(213, 228, 247);
    --text-lighter: grey;
    --text-dark: #000;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    z-index: 100;
    padding: 0 5rem;
}

a{
    text-decoration: none;
}

.title{
    font-size: .9rem;
}

h2, .h2{
    font-size: 2rem;
}
h3, .h3{
    font-size: 1.8rem;
}
h4, .h4{
    font-size: 1.6rem;
}
h5, .h5{
    font-size: 1.4rem;
}
h6, .h6{
    font-size: 1.2rem;
}

body{
    font-family: 'Oswald', cursive;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 6rem;
    position: fixed;
    top: 0;
    background-color: var(--primary-light);
    z-index: 1000;
}

header .container{
    display: flex;
    position: relative;
}

header .container .logo{
    position: relative;
    width: 60%;
    height: 100%;
    left: -30%;
    transform: skewX(-30deg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background: linear-gradient(to right,var(--primary-light), var(--primary-accent), var(--primary-accent));
}

header .container .logo h1{
    font-size: 1.5rem;
    color: var(--primary-dark);
    text-transform: uppercase;
    transform: skewX(30deg);
    margin-left: 50px;
}


header .container .nav{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    right: -30%;
    transform: skewX(-30deg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .container .nav .socials{
    background-color: var(--primary-light);
    width: 110%;
    height: 35%;
    transform: skewX(30deg);
    display: flex;
    align-items: center;
    padding-left: 5rem;
}

header .container .nav .socials .info{
    display: flex;
}

header .container .nav .socials .info p{
    margin: 0 2rem;
    color: var(--text-dark);
    font-size: 12px;
}

header .container .nav .socials .info p i{
    margin: 0 .5rem;
    color: var(--primary-accent);
}

header .container .nav .socials .social{
    margin-left: 9rem;
}

header .container .nav .socials .social i{
    font-size: 12px;
    padding: .2rem;
    background-color: var(--primary-light);
    color: var(--primary-accent);
    margin: .2rem;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px var(--primary-accent);
}

header .container .nav .socials .social i:hover{
    box-shadow: 0 2px 2px var(--primary-accent);
}

header .container .nav nav{
    background: linear-gradient(to right,rgb(213, 228, 247),rgb(213, 228, 247),rgb(213, 228, 247), rgb(213, 228, 247), white);
    width: 115%;
    height: 65%;
    transform: skewX(30deg);
    display: flex;
    align-items: center;
    padding-left:7.5rem ;
}

header .container .nav nav ul{
    list-style: none;
    display: flex;
    margin-right: 7rem;
}

header .container .nav nav ul li{
    margin: 0 1rem;
    font-weight: 800;
    font-size: .8rem;
}

header .container .nav nav a{
    margin-left: 1rem;
    padding: .4rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid var(--text-dark);
    font-size: 12px;
    font-weight: bold;
    color: var(--text-dark);
}

main{
    margin-top: 3rem;
    width: 100%;
}

.hero{
    width: 100%;
    height: 37rem;
    position: relative;
    overflow: hidden;
}

section{
    max-width: 1600px;
    margin: 0 auto;
}

.hero::before{
    content: "";
    height: 600px;
    position: absolute;
    width: 600px;
    background-color: var(--primary-purple);
    bottom: -20rem;
    left: -5rem;
    border-radius: 50%;
    filter: blur(200px);
}

.hero::after{
    content: "";
    height: 400px;
    position: absolute;
    width: 400px;
    background-color: var(--text-light);
    top: -2rem;
    right: -2rem;
    border-radius: 50%;
    filter: blur(150px);
}

main .hero .container{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

main .hero .container h2{
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem;
    word-spacing: .5rem;
}

main .hero .container p{
    width: 60ch;
    text-align: center;
    font-size: 14px;
    margin-top: 1rem;
    color: var(--text-lighter);
}

main .hero .container .cta > *:first-child{
    color: var(--primary-light);
    background-image: linear-gradient(to right, var(--primary-accent), blue, var(--primary-accent));
    border: none;
}

main .hero .container .cta{
    margin-top: 2rem;
}

main .hero .container .cta a{
    color: var(--primary-accent);
    padding: .5rem 2rem;
    font-size: 12px;
    font-weight: bold;
    border:  1px solid var(--primary-accent);
    border-radius: 5px;
    margin: 0 .5rem;
    letter-spacing: .1rem;
}

main .hero .container i{
    position: absolute;
    bottom: 2rem;
    color: var(--primary-accent);
}

main .about{
    height: 30rem;
    background-color: rgb(214, 252, 255);
}

main .about .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .about .container .circle{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: var(--primary-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

main .about .container .circle::before{
    content: "";
    width: 150px;
    height: 150px;
    background-color: var(--primary-dark);
    border-radius: 50%;
}

main .about .container .circle::after{
    position: absolute;
    content: "";
    width: 110px;
    height: 100px;
    background-color: var(--primary-light);
    border-radius: 50%;
}

main .about .container .content{
    width: 50%;
    word-spacing: .1rem;
}

main .about .container .content .title{
    color: var(--primary-accent);
    margin-bottom: .5rem;
}

main .about .container .content p{
    width: 50ch;
    font-size: 12px;
    margin: .5rem 0;
    color: var(--text-lighter);
}

main .about .container .content ul{
    list-style: none;
    margin: 1rem 0;
}

main .about .container .content ul li{
    margin: 0.5rem 0;
    font-size: 15px;
    font-weight: bolder;
}

main .about .container .content ul li i{
    margin-right: .5rem;
    color: var(--primary-accent);
}

main .about .container .content a{
    margin-top: 1rem 0;
    color: var(--primary-light);
    background-image: linear-gradient(to right, var(--primary-accent), blue, var(--primary-accent));
    padding: .5rem 2rem;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: .1rem;
}
main .service{
    position: relative;
    height: 30rem;
    background-color: var(--primary-light);
    overflow: hidden;
}

.service::before{
    content: "";
    height: 300px;
    position: absolute;
    width: 600px;
    background-color: var(--primary-purple);
    top: -20rem;
    left: -5rem;
    border-radius: 50%;
    backdrop-filter: blur(20px);
    filter: blur(200px);
}

.service::after{
    content: "";
    height: 200px;
    position: absolute;
    width: 200px;
    background-color: var(--text-light);
    bottom: 0rem;
    right: 0rem;
    border-radius: 50%;
    filter: blur(150px);
}

main .service .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .service .container .circle{
    position: relative;
    width: 45%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

main .service .container .circle .left{
    width: 150px;
    position: relative;
    top: .5rem;
}

main .service .container .circle .right{
    width: 150px;
    position: relative;
    top: -.5rem;
}

main .service .container .circle .left .box,
main .service .container .circle .left .box1,
main .service .container .circle .right .box2,
main .service .container .circle .right .box3{
    width: 100%;
    height: 150px;
    margin: 1rem 0;
    display: flex;
    position: relative;
    overflow: hidden;
    border: none;
    box-shadow: 2px 2px 5px var(--text-light);
}

main .service .container .circle .left .box .overlay1,
main .service .container .circle .left .box1 .overlay2,
main .service .container .circle .right .box2 .overlay3,
main .service .container .circle .right .box3 .overlay4{
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 3rem;
    justify-content: center;
    background-color: rgba(1, 124, 240, 0.5);
    transition: .5s ease;
}

main .service .container .circle .left .box .overlay1 p,
main .service .container .circle .left .box1 .overlay2 p,
main .service .container .circle .right .box2 .overlay3 p,
main .service .container .circle .right .box3 .overlay4 p{
    color: var(--text-light);
    font-size: 9px;
    text-align: center;
}

main .service .container .circle .left .box:hover .overlay1,
main .service .container .circle .left .box1:hover .overlay2,
main .service .container .circle .right .box2:hover .overlay3,
main .service .container .circle .right .box3:hover .overlay4{
    left: 0;
}

main .service .container .circle .left .box img,
main .service .container .circle .left .box1 img,
main .service .container .circle .right .box2 img,
main .service .container .circle .right .box3 img{
    height: 100%;
    width: 100%;
    border: none;
}

main .service .container .circle .left .box .work,
main .service .container .circle .left .box1 .work,
main .service .container .circle .right .box2 .work,
main .service .container .circle .right .box3 .work{
    width: 100%;
    height: 2rem;
    position: absolute;
    background-color: var(--primary-accent);
    bottom: 0;
    left: -1rem;
    transform: skewX(30deg);
    display: flex;
    align-items: center;
    z-index: 100;
}

main .service .container .circle .left .box .work p,
main .service .container .circle .left .box1 .work p,
main .service .container .circle .right .box2 .work p,
main .service .container .circle .right .box3 .work p{
    transform: skewX(-30deg);
    font-size: 10px;
    font-weight: bolder;
    margin-left: 2rem;
}

main .service .container .content{
    width: 40%;
    word-spacing: .1rem;
}

main .service .container .content .title{
    color: var(--primary-accent);
    margin-bottom: .5rem;
}

main .service .container .content p{
    width: 50ch;
    font-size: 12px;
    margin: .5rem 0;
    color: var(--text-lighter);
}

main .service .container .content ul{
    list-style: none;
    margin: 1rem 0;
}

main .service .container .content ul li{
    margin: 0.5rem 0;
    font-size: 15px;
    font-weight: bolder;
}

main .service .container .content ul li i{
    margin-right: .5rem;
    color: var(--primary-accent);
}

main .service .container .content a{
    color: var(--primary-light);
    background-image: linear-gradient(to right, var(--primary-accent), blue, var(--primary-accent));
    padding: .5rem 2rem;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: .1rem;
}

main .team{
    height: 35rem;
    background-color: rgb(214, 252, 255);
}

main .team .container{
    position: relative;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .team .container .content{
    word-spacing: .1rem;
}

main .team .container .content .title{
    color: var(--primary-accent);
    margin-bottom: .5rem;
    text-align: center;
}
main .team .container .teamImg{
    width: 100%;
    height: 260px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

main .team .container .teamImg .teamContainer{
    width: 200px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

main .team .container .teamImg .teamContainer .imgbox{
    width: 100%;
    height: 200px;
    border-radius: 50%;
     background-color: chartreuse;
}

main .team .container .teamImg .teamContainer h6,
main .team .container .teamImg .teamContainer p{
    text-align: center;
    font-size: .9rem;
}

main .team .container .teamVid{
    height: 300px;
    width: 400px;
    background-color: chartreuse;
    position: relative;
    bottom: -70px;
}

main .newsletter{
    height: 15rem;
    background-color: rgba(0, 0, 255, .8);
}

main .newsletter .container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
    
}

main .newsletter .container .content{
    width: 100%;
    height: 4rem;
    word-spacing: .1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .newsletter .container .content .info{
    height: 100%;
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .newsletter .container .content .info h2{
    letter-spacing: .2rem;
    word-spacing: .5rem;
}

main .newsletter .container .content .info p{
    font-size: .8rem;
}

main .newsletter .container .content .form-control{
    background-color: var(--primary-light);
    border-radius: 5px;
    width: 400px;
    height: 2.2rem;
    padding: .15rem 0;
}

main .newsletter .container .content .form-control input{
    border: none;
    outline: none;
    width: 270px;
    height: calc(100% - .4rem);
    padding: 0 0 0 1rem;
}

main .newsletter .container .content .form-control button{
    color: var(--primary-light);
    background-image: linear-gradient(to right, var(--primary-accent), blue, var(--primary-accent));
    padding: .5rem 1.85rem;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: .1rem;
    border: none;
    outline: none;
    cursor: pointer;
}


main .testimonials{
    height: 35rem;
    background-color: #ebebeb;
}

main .testimonials .container{
    position: relative;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .testimonials .container .content{
    word-spacing: .1rem;
}

main .testimonials .container .content .title{
    color: var(--primary-accent);
    margin-bottom: .5rem;
}
main .testimonials .container .testimonial{
    width: 100%;
    height: 320px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

main .testimonials .container .testimonial .testimonialContainer{
    position: relative;
    width: 280px;
    height: 100%;
    background-color: var(--primary-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main .testimonials .container .testimonial .testimonialContainer::before{
    content: "";
    position: absolute;
    height: 65%;
    width: 5px;
    top: 0;
    left: .7rem;
    background-image: linear-gradient(to bottom, blue , var(--primary-accent), var(--primary-accent));
}

main .testimonials .container .testimonial .testimonialContainer::after{
    content: "";
    position: absolute;
    height: 65%;
    width: 5px;
    bottom: 0;
    right: .7rem;
    background-image: linear-gradient(to bottom, var(--primary-accent), var(--primary-accent),blue);
}

main .testimonials .container .testimonial .testimonialContainer .witness{
    width: 85%;
    height: 30%;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}

main .testimonials .container .testimonial .testimonialContainer .witness .witnessprofile{
    width: 70px;
    background-color: blue;
    height: 70px;
    display: flex;
    border-radius: 50%;
}
main .testimonials .container .testimonial .testimonialContainer .witness .witnessinfo{
    padding-left: 2rem;
}

main .testimonials .container .testimonial .testimonialContainer .witness .witnessinfo p{
    margin-top: .5rem;
    font-size: .8rem;
}

main .testimonials .container .testimonial .testimonialContainer .testimony{
    width: 85%;
    height: 35%;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}

main .testimonials .container .testimonial .testimonialContainer .testimony p{
    font-size: .8rem;   
}

main .testimonials .container .testimonial .testimonialContainer .quote{
    padding: 0 .5rem;
    width: 85%;
    height: 30%;
    display: flex;
}

main .testimonials .container .testimonial .testimonialContainer .quote i{
    font-size: 70px;
    color: var(--primary-accent);
}


main .blog{
    height: 30rem;
    background-color: rgb(214, 252, 255);
}

main .blog .container{
    position: relative;
    padding-top: 4rem;
    padding: 4rem 0;
}

main .blog .container .inner{
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    gap: 5rem;
    align-items: center;
}

main .blog .container .inner .content{
    word-spacing: .1rem;
    width: 300px;
}

main .blog .container .content .title{
    color: var(--primary-accent);
    margin-bottom: .5rem;
}

main .blog .container .content h3{
    letter-spacing: .1rem;
    word-spacing: .5rem;
}

main .blog .container .content p{
    margin: 3rem 0;
    font-size: .9rem;
}

main .blog .container .content a{
    color: var(--primary-light);
    background-image: linear-gradient(to right, var(--primary-accent), blue, var(--primary-accent));
    padding: .7rem 2rem;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: .1rem;
}

main .blog .container .outer{
    width: 600px;
    overflow-x: hidden;
}

main .blog .container .testimonial{
    width: 650px;
    height: 250px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    /* gap: 40px; */
    /* border: 1px solid blue; */
}

main .blog .container .testimonial .testimonialContainer{
    position: relative;
    width: 200px;
    height: 100%;
    background-color: var(--primary-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main .blog .container .testimonial .testimonialContainer .witness{
    width: 85%;
    height: 30%;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}

main .blog .container .testimonial .testimonialContainer .witness .witnessprofile{
    width: 70px;
    background-color: blue;
    height: 70px;
    display: flex;
    border-radius: 50%;
}
main .blog .container .testimonial .testimonialContainer .witness .witnessinfo{
    padding-left: 2rem;
}

main .blog .container .testimonial .testimonialContainer .witness .witnessinfo p{
    margin-top: .5rem;
    font-size: .8rem;
}

main .blog .container .testimonial .testimonialContainer .testimony{
    width: 85%;
    height: 35%;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}

main .blog .container .testimonial .testimonialContainer .testimony p{
    font-size: .8rem;   
}

main .blog .container .testimonial .testimonialContainer .quote{
    padding: 0 .5rem;
    width: 85%;
    height: 30%;
    display: flex;
}

main .blog .container .testimonial .testimonialContainer .quote i{
    font-size: 70px;
    color: var(--primary-accent);
}